main {
    padding-bottom: 0;
}

#lessen {
    position: relative;
    margin-bottom: var(--gap-small);
}

#lessen>div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: var(--gap-big);
    position: relative;

}

#lessen>#filters {
    position: sticky;
    bottom: var(--gap-small);
    margin-top: var(--gap-small);
    z-index: 10;
    display: grid;
    gap: var(--gap-small);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

#filters>div {
    border: 1px solid black;
    height: var(--height-filters);
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
        background-color: white;
    box-shadow: 0px 0px var(--gap-small) calc(var(--gap-small) / 2) var(--color-white);
}

#filters>div.actief {
    background-color: var(--color-blue);
    color: var(--color-white);
    box-shadow: 0px 0px var(--gap-small) calc(var(--gap-small) / 2) var(--color-blue);
    z-index: 20;
}

#lessen div a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: var(--height-course); */
    height: 18rem;
    box-shadow: 1px 2px 2px 2px rgba(140, 38, 38, 0.491);
}

#lessen>div:first-of-type>:nth-child(2n + 3){
    background-color: rgba(107, 102, 205, 0.214);
}

#lessen>div:first-of-type>:nth-child(3n){
    background-color: rgba(186, 205, 102, 0.301);
}


/* #lessen>div>a>div:first-of-type {
    height: 100%;
    width: calc((6/5) * var(--height-course));
}

#lessen>div>a>div:last-of-type {
    padding: var(--gap-mini);
} */

#lessen>div>a>div:first-of-type {
    width: 100%;
    height: calc((2/3) * 18rem);
}

#lessen>div>a>div:last-of-type {
    padding: var(--gap-mini);
}

#lessen img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width: 884px) {
    #lessen>#filters {
        gap: var(--gap-big);
    }
}