*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

:root {
    --gap-mini: 0.2rem;
    --gap-small: 0.6rem;
    --gap-big: 1.2rem;
    --height-course: 5.4rem;
    --height-header: 2.4rem;
    --height-nav: 2.4rem;
    --color-pink: #d73c56;
    --color-white: #fafafa;
    --color-beige: hsl(44, 97%, 86%);
    --color-black: rgb(33, 33, 33);
    --color-blue: rgb(71, 114, 232);
}

a {color: var(--color-pink);}

body {
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    background-color: var(--color-white);
    color: var(--color-black);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body>div {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 800px) {
    body>div {
        flex-direction: row-reverse;
    }  
}

header {
    height: var(--height-header) ;
    width: 100%;
    border-bottom: 4px solid var(--color-pink);
    padding: 0 var(--gap-small);
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-black);
    /* background-image: url(/media/fabrik.jpg); */
    display:flex;
    justify-content: left;
    align-items: center;
}
h1 {
    text-align: center;
    font-size: 1.4rem;
}
h1 a {text-decoration: none; font-family:'Courier New', Courier, monospace;}
header p {margin-left: var(--gap-big);
    transform:rotate(-3deg) ;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
    background-color: var(--color-pink);
    color: var(--color-white);
}
h1 a>span {display: inline-block;
}

  @keyframes wobble {
    0%   { transform: rotate(var(--start-angle)); }
    100% { transform: rotate(var(--end-angle)); }
  }
main {
    width: 100%;
    overflow-y: auto;
    height: calc(100svh - var(--height-header) - var(--height-nav));
    padding: var(--gap-small);
}

nav {
    width: 100%;
    height: var(--height-nav);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-white);
    border-top: 1px solid var(--color-black);
    font-weight: 600;
}

.desktop {display: none;}

@media screen and (min-width: 800px) {
    .desktop {display: initial;}

    main {
        flex-grow: 1;
        height: calc(100svh - var(--height-header));
    }  

    nav {
        width: 150px;
        flex-direction: column;
        align-items: baseline;
        padding: var(--gap-small);
        border-top: 0;
        border-right: 1px solid black;
        height: calc(100svh - var(--height-header));
        justify-content: left;
    }

    nav>* {
        line-height: 2rem;
        width: 100%;
    }

    nav>*:not(p):hover {
        background-color: var(--color-pink);
        color: var(--color-white);
    }

    header p.desktop:nth-of-type(2) {background-color: rgb(179, 158, 22); transform:rotate(3deg) ;}
    header p.desktop:nth-of-type(3) {background-color: rgb(11, 133, 34); transform:rotate(-2deg) ;}
    header p.desktop:nth-of-type(4) {background-color: rgb(50, 71, 205); transform:rotate(1deg) ;}
    header p.desktop:nth-of-type(5) {background-color: rgb(205, 148, 50); transform:rotate(-3deg) ;}

}

img {
    width: 100%;
}

li {list-style: none;}

li li {
    list-style-position: inside;
    padding-left: 1rem;
}

#fiche {
    padding: var(--gap-small);
    width: 100%;
    background-color: var(--color-beige);
    /* border: 1px solid black; */
    box-shadow: 1px 2px 2px 2px rgba(140, 38, 38, 0.491);
    /* background-image: url(/media/zijde.jpg); */
}

section:not(:last-of-type) {
    margin-bottom: var(--gap-big) ;
}


section.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}